---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt"] });

---

<Layout>
	<section>

		<ul>
			{
				posts.map((post) => (
					<li>
						<time datetime={post.publishedAt}>
							{new Date(post.publishedAt).toLocaleDateString('ja-JP')}
						</time>
						<a href={`/blog/${post.id}`}>{post.title}</a>
					</li>
				))
			}
		</ul>

	</section>

</Layout>
