---
const today = new Date();
---

<footer>
	<p>&copy; 2024 WEB DESIGN NOTE All rights reserved.</p>
</footer>
<style lang="scss">
	footer {
		padding-inline: 20px;
		flex: 1;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		& > p {
			font-size: 10px;
			padding-block: 50px;
		}
	}

</style>
