---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

let d = new Date();
let year = d.getFullYear();
let month = d.getMonth() + 1;
let day = d.getDate();
let dayofweek = d.getDay();

const dayname = ['SUN','MON','TUE','WED','THU','FRI','SAT'];

---

<header class="header">
	<div class="header__inner">
		<div class="header__top">
			<h1 class="header__logo">
				<a href="/">
					<img src="/images/common/logo.svg" alt="WEB DESIGN NOTE">
				</a>
			</h1>
			<div class="header__image">
				<img src="/images/common/books.svg" alt="">
			</div>
		</div>
	</div>
</header>

<style lang="scss">
	.header {
		flex: 1;

		&__inner {

		}

		&__top {
			padding-top: 116px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			position: relative;
			@media (max-width: 768px) {
				padding-top: 60px;

			}
			
			&::before {
				content: "";
				width: 1px;
				height: 100px;
				position: absolute;
				top: 0;
				background-color: #141414;
				@media (max-width: 768px) {
					height: 50px;
				}
			}

		}

		&__logo {
			width: 280px;
			height: auto;
			text-align: center;
			@media (max-width: 768px) {
				width: 220px;

			}
			
			
		}
		
		&__image {
			width: 100px;
			height: auto;
			text-align: center;
			@media (max-width: 768px) {
				width: 80px;

			}
		}
	}

	img {
		vertical-align: top;
	}

</style>
