---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

// reset css
import "the-new-css-reset";

// font
import '@fontsource/poppins';

//microCMS呼び出し
import { getBlogs } from "../library/microcms";s
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt"] });

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      </slot>
		</main>
		<Footer />
	</body>
</html>

<style is:global lang="scss">


  :root {
    --red: #F02A48;
    --black: #373737;
  }

  html {
    background-image: url('/images/common/bg.png');
  }
  body {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: var(--black);
    line-height: 1.6;
    font-size: 1rem;

  }



</style>
